<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>vue-start</title>
    <script src="https://cdn.bootcss.com/vue/2.6.10/vue.common.dev.js"></script>
  </head>
  <body>
    

    <div id="app">
      <div v-if="seen">
          你能看到我吗
      </div>
      <p><button @click="toggleSeen">kksk</button></p>
      <input placeholder="看得到就请输入明日行程~" v-model="todo"/>
      <p>明天要去：{{answer}}</p>
      <p v-bind:id="p_id">normal: {{message}} </p>
      <p>mirror: {{reversedMessage}}</p>
      <div v-html="template"></div>
      <p><a :href="url">跳转至百度</a></p>
      <button @click="countTimes($event)">你已点击了{{count}}次</button>
      <p>
        食物储备
      </p>
      <ul>
        <li v-for="food in foodList">
          名称：{{food.name}}   数量:{{food.amount}}
        </li>
      </ul>
    </div>

   
    <script type="text/javascript">
      let global = 'outter scope'
      let vm = new Vue({
        el: '#app',
        data: {
          seen: false,
          p_id: 'line',
          message: '哎呀真的烦',
          url: 'http://www.baidu.com',
          template: '<span>建议早日退团</span>',
          count: 0,
          todo: '',
          answer: '',
          foodList: [
            {
              name: 'meat',
              amount: 1
            },
            {
              name: 'cookie',
              amount: 2
            }
          ],
        },
        computed: {
          reversedMessage () {
            return this.message.trim().split('').reverse().join('') + ' connecting ' + global
          }
        },
        methods: {
          countTimes (event) {
            console.log('event --->', event.target)
            this.count ++
          },
          getTodo () {
            setTimeout( () => {this.answer = '记录中···'}, 500)
           
            setTimeout( () => {this.answer = this.todo}, 2000)
            
          },
          toggleSeen () {
            this.seen = !this.seen
          }
        },
        watch: {
          todo () {
            this.answer = '正在输入···'
            console.log(111)
            this.getTodo()
          }
        } 
      })
    </script>
  </body>
</html>
